
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 55%;
    scroll-behavior: smooth;

    /*
    when the screen is  600 pixels wide decrease font size to 25%
    ===============================================================================================
    */

    @media (max-width: 600px) {
        font-size: 25%;
    }


    @media (max-width: 700px) {
        font-size: 31%;
    }

    /*
    when the screen is  800 pixels wide decrease font size to 34%
    ===============================================================================================
    */

    @media (max-width: 900px) {
        font-size: 34%;
    }

    @media (max-width: 1000px) {
        font-size: 46;
    }


}

body {
    width: 95%;
    margin: auto;
    background-color: #ededee;
}

@import "major-dependacies/animations";

@import "selectors/variables";
@import "selectors/utilities";
@import "selectors/dependacies";

@import "layouts/about";
@import "layouts/meetteam";
@import "layouts/navbar";
@import "layouts/services";
@import "layouts/projects";
@import "layouts/footer";


@import "major-dependacies/buttons";
@import "major-dependacies/grid";
@import "major-dependacies/popups";