.row {
    max-width: $grid-width;
    //background-color: #eee;
    margin: 0 auto;
    
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @mixin clearfix {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    @include clearfix;

    [class^="col-"] {
        //background-color: orangered;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal})/2);

        @media (max-width: 600px) {
            width: calc((100% - #{$gutter-horizontal})/1);
        }

        @media (max-width: 700px) {
            width: calc((100% - #{$gutter-horizontal})/1);
        }

    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal})/3);

        @media (max-width: 600px) {
            width: calc((100% - 2 * #{$gutter-horizontal})/2);
        }

        @media (max-width: 700px) {
            width: calc((100% - #{$gutter-horizontal})/2);
        }
    }
}