.image__popup-1 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}


.image__popup-2 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}



.image__popup-3 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}

.image__popup-4 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}

.image__popup-5 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}

.image__popup-6 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}

.image__popup-7 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}

.image__popup-8 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}

.image__popup-9 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}

.image__popup-10 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}

.image__popup-11 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}

.image__popup-12 {
    background: rgba($color-dark-blue, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &--view {
        width: 75%;
        margin: auto;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 35rem;
            margin-bottom: 35rem;
        }

        img {
            width: 95%;

            @media (max-width: 600px) {
                width: 100%;
            }

        }
    }
}

.close {
    border: 1px solid $color-whitesmoke;
    border-radius: 3px;
    padding-left: 1rem;
    padding-right: 1rem;
    //position: relative;
    font-size: 5rem;
    font-weight: bold;
    color: $color-whitesmoke;
    display: inline-block;
    text-decoration: none;
    float: right;
    //position: absolute;

    @mixin clearfix {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    @include clearfix;
}

/*POP UP MODAL CSS MOCKUP*/

.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #f37123;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.model.active {
    transform: translate(-50%, -50%) scale(1);
}

.model-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f37123;
}

.model-header .title {
    font-size: 1.23rem;
    font-weight: bold;
}

.model-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.model-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/*END POP UP MODAL CSS MOCKUP*/