.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 60vh;

    &__side{
        padding: 3rem;
        width: 85%;
        opacity: 0.9;
        box-shadow: 6rem 2rem rgba(0, 0, 0, 0.479);
        transition: all .7s ease;
        height: 60vh;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;

        &--front{
            img {
                width: 20rem;
                margin-top: 5rem;
            }
            .title {
                margin-top: 3rem;
            }

            text-align: center;
            background-image: linear-gradient(180deg, rgba($color-light-blue, .6), rgba($color-sky-blue, .6), rgba($color-purple, .6));
        }

        &--back{
            background-color: $color-dark-blue;
            transform: rotateY(180deg);
        }

        p{
            font-family: Agency FB;
            color: $color-whitesmoke;
            font-size: 2.5rem;
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
}

.regular-card{
    padding: 4rem;
    color: $color-grey-dark;
}

.lists {
    color: $color-whitesmoke;
    font-size: 2.5rem;
    margin-left: 3rem;
}