$color-whitesmoke: #ededee;
$color-grey-dark: #777;
$color-black: #171d29;
$color-dark-blue: #050C1E;
$color-light-blue: #2CD8D5;
$color-sky-blue: #6B8DD6;
$color-purple: #8E37D7;


$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 10rem;