.section__projects {
    padding: 4rem;
}

.project-img{
    align-items: center;
    padding: 2rem;

    img {
        width: 125%;
        transition: all .3s;
        border-radius: 4px;

        @media (max-width: 600px) {
            width: 90%;
        }

        @media (max-width: 700px) {
            width: 100%;
        }

        &:hover {
            transform: scale(1.05) translateY(-.5rem);
        }
    }
}